@import url('https://fonts.googleapis.com/css?family=Montserrat|Fugaz+One');

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

body {
  	margin: 0;
  	font-size: 1rem;
  	font-weight: 400;
  	line-height: 1.5;
  	color: #fff;
  	text-align: left;
  	background-image: url("../images/nebula2.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed;
	-webkit-background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body:hover{
	cursor: default;
}

.hidden{
	visibility: hidden;
}

.text-fff-04 {
	color: rgba(255,255,255,0.4);
}
.text-fff-08 {
	color: rgba(255,255,255,0.8);
}
.text-000-10{
	color: rgba(0,0,0,1);
}
.text-blue{
	color: rgba(20,200,255,0.8);
}
.bg-black{
	background-color: rgba(10,10,10,1);
}

.bg-transparent {
  background-color: transparent;
}
.mt-n1{
	margin-top: -1px;
}

.min-h-400{
	min-height: 400px;
}
.h-400{
	height: 400px;
}

.pl-20{
	padding-left: 20px;
}

.pr-20{
	padding-right: 20px;
}

.outline{
	color: white;
  	text-shadow: -1px -1px 0 #fff,  1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.fugaz{
	font-family: 'fugaz-one', sans-serif;
}

.montserrat{
	font-family: 'Montserrat', sans-serif;
}

.font-1{
	font-size: 1.2em;
	/*font-weight: lighter;*/
	letter-spacing: 0.25px;
}

.navicon{
	position: fixed;
	z-index: 1;
	padding: 1em;
}

.navbar {
	position: fixed;
	font-size: 1.1rem;
	letter-spacing: -0.5px;
	z-index: 1;
	mix-blend-mode: difference;
	/*margin-left: 2.5em;
	margin-top: 0.3em;*/
	width: 100%;
	background: rgba(0,0,0,0);
}

.navbar-nav{
	margin-left: 2.5em;
	margin-top: 0.3em;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
}

.dropdown-menu{
	border: none;
	margin-top: -0.5em;
}

.dropdown-item{
	/*background-color: rgba(255,255,255,0.05);*/
	border: none;
	color: rgba(255,255,255,0.6);
	font-size: 1.1rem;
	letter-spacing: -0.5px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.4em;
}

.dropdown-item:hover{
	background-color: transparent!important;
	color: #fff!important;
}

.disabled{
	color: rgba(255,255,255,0.3)!important;
}

.title-header{
	background-color: transparent;
}

.title {
	font-family: 'fugaz-one', sans-serif;
	letter-spacing: -4px;
	font-size: 6em;
	font-weight: bolder;
}

.subtitle {
	font-size: 1.5em;
}

.diagonal-top{
	height: 15vh;
	width: 100%;
	clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
	
}

.diagonal-bottom{
	height: 15vh;
	width: 100%;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
	position: absolute;
	z-index: -1;
}

.text-transparent h2{
	font-size: 3em;
	font-weight: 900;
	background-image: url("../images/nebula2.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed;
	text-fill-color: rgba(255,255,255,0.05);
    background-clip: text;
	-webkit-text-fill-color: rgba(255,255,255,0.05);
    -webkit-background-clip: text;
}
.text-transparent .pw {
	background-image: url("../images/nebula2.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed;
	text-fill-color: rgba(255,255,255,0);
    background-clip: text;
	-webkit-text-fill-color: rgba(255,255,255,0);
    -webkit-background-clip: text;
}

.text-transparent .pw:hover{
	text-fill-color: rgba(255,255,255,0.2);
    background-clip: text;
	-webkit-text-fill-color: rgba(255,255,255,0.2);
    -webkit-background-clip: text;
}

.col-3-r{
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	-ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.caption{
	height: 10vh;
	color: rgba(0,0,0,0.4);
	font-size: 1.3em;
	text-align: center;
	font-style: italic;
	padding: 0;
	margin-bottom: -1vh;
}

.c-1{
	text-align: center;
	font-size: 1.2em;
	padding: 0px;
	margin: 0px;
	font-weight: 500;
}

.row1::after{
	content: "";
    clear: both;
    display: table;
}

.row1{
	text-align: center;
}

.circimg {
	float: left;
	width: 25%;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 60px;
}

.circimg img {
	width: 20vw;
	height: 20vw;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
}

.hoverlink {position:relative;}
.hoverlink .linkimg,
.hoverlink .linktext {transition: opacity 0.5s ease-in-out;}

.hoverlink .linktext {
	font-size: 0.8em;
	style: none;
	position:absolute; 
	left:0; 
	top: -50%;
	opacity:0; 
	width:100%;
	padding-left: 20px;
	padding-right: 20px;
	text-align:center;
	font-weight: bolder;
	background-image: url("../images/nebula2.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed;
	text-fill-color: rgba(255,255,255,0);
    background-clip: text;
	-webkit-text-fill-color: rgba(255,255,255,0);
    -webkit-background-clip: text;
}
.hoverlink:hover .linkimg {opacity: 0.2;}
.hoverlink:hover .linktext {opacity:1;}

/* SQUARE */
/*.circimg img {
	height: 20vw;
	object-fit: cover;
	object-position: top;
	padding: 0 20px;
}*/
.mb1{
	margin-left: 0px;
	background-image: url("../images/bidness.jpg");   
}
.mb2{
	background-image: url("../images/buddha.JPG");
    background-position: center center;
}
.mb3{
	background-image: url("../images/m33.JPG");
    background-position: center center;
}
.mb4{
	background-image: url("../images/charmander.JPG");
    background-position: center center;
}

.container{
	height: 100%;
	overflow: hidden;
}

.main{
	margin-top: -1px;
	margin-bottom: -1px;
	color: rgba(0,0,0,0.8);
	font-size: 1.5em;
	padding-top: 6vw;
}

.main2{
	margin-top: -1px;
	margin-bottom: -1px;
	color: rgba(0,0,0,0.8);
	font-size: 1.5em;
	height: 600px;
}

.main3{
	margin-top: -1px;
	margin-bottom: -1px;
	color: rgba(0,0,0,0.8);
	font-size: 1.5em;
	height: 40vh;
	border: 1px solid black;
	margin: auto;
	padding-left: 100px;
	padding-right: 100px;
}
.abt{
	text-align: center;
	height: 100%;
}

.ab-img{
	float: left;
	background-image: url("../images/lazy5.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 50%;
	width: 10em;
	height: 10em;
	max-height: 10em;
	max-width: 10em;
	border-radius: 50%;
	overflow-wrap: break-word;
}
.ab-desc{
	float: right;
	font-size: 0.8em;
	text-align: left;
	margin-top: 5vh;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.icon{
	width: 32px;
	height: 32px;
	margin-right: 20px;
}

.contact{
	font-size: 3em;
	font-weight: 900;
	color: #fff;
}

.text-blue a{
	color: inherit;
	-webkit-user-select: all;
  	-moz-user-select: all;     
  	-ms-user-select: all;     
 	 user-select: all; 
}
.text-blue a:hover {
	text-decoration: none;
	color: rgba(20, 200, 255, 0.5);
}

.bad-webdesign{
	margin-top: 20vh;
}
.bad-webdesign2{
	margin-top: 10vh;
}

.social {
	padding: 0px 4px;
}
.social img {
	width: 40px;
	height: 40px;
	border: 2px solid rgba(255,255,255,1);
	border-radius: 0.25rem;
	
}

.social img:hover{
	background-color: rgba(0,0,0,1);
	background-image: url("../images/nebula2.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed;
}
.pad-5{
	padding: 5px;
}
.pad-8{
	padding: 8px;
}

@media (max-width: 1400px){
	
	.navbar-toggler{
		background-color:  rgba(0,0,0,0.2);
		margin-top: 5px;
		margin-left: 40px;
	}

	.title{
		font-size: 3em;
	}
	.subtitle {
		font-size: 1em;
	}
	.fugaz{
		font-size: 2em!important;
	}
	.ab-img{
		float: none;
		clear: both;
		width: 100%;
		margin: auto;
	}
	.ab-desc{
		float: none;
		clear: both;
		width: 100%;
		margin: auto;
		margin-top: 5vh;
		text-align: center;
		min-width: 250px;
	}
	
	.text-transparent h2{
		-webkit-text-fill-color: rgba(255,255,255,0.2);
    	-webkit-background-clip: text;
	}
	.text-transparent .pw{
		-webkit-text-fill-color: rgba(255,255,255,0.2);
    	-webkit-background-clip: text;
	}
	
	.circimg {
		width: 50%;
	}
	.circimg img {
		width: 32vw;
		height: 32vw;
	}
	
}

@media(max-width: 500px){
	
	.navbar{
		mix-blend-mode: normal;
	}
	.nav-item{
		background-color: rgba(0,0,0,.8);
		position: relative;
		z-index: 1;
		width: 40%;
	}
	
	body{
    	background-repeat:repeat-y;
   	 	background-position: center center;
		-webkit-background-attachment: fixed;
	}
	.circimg {
		width: 100%;
	}
	.circimg img {
		width: 56vw;
		height: 56vw;
	}
}

@media (max-height: 500px){
	.caption{
		display: none;
	}
	
}
